# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/
.venv/

# Environment Variables
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Streamlit cache
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/
.cache/

# Build files
build/
dist/
*.egg-info/

# Logs
*.log

# FAISS / Vector Database (generated)
vector_db/

# Hugging Face cache
.huggingface/
cache/

# Temporary files
*.tmp
*.bak